APP_NAME=PagamentosMultiGateway
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=pagamentos
DB_USERNAME=root
DB_PASSWORD=secret

GATEWAY1_BASE_URL=http://gateways-mock:3001
GATEWAY1_EMAIL=dev@betalent.tech
GATEWAY1_TOKEN=FEC9BB078BF338F464F96B48089EB498

GATEWAY2_BASE_URL=http://gateways-mock:3002
GATEWAY2_TOKEN=tk_f2198cc671b5289fa856
GATEWAY2_SECRET=3d15e8ed6131446ea7e3456728b1211f